/**
 * Styles for the doc versions dropmenu.
 */

#versions-dropdown {
	position: relative;
	display: inline-block;
	height: 18px;
}

	#versions-dropdown a:hover {
		text-decoration: none;
	}

#versions-arrow {
	display: inline-block;
	width: 10px;
	text-align: center;
	margin-right: 6px;
}

#versions {
	display: none;
	position: absolute;
	left: 0px;
	top: 18px;
	background-color: #fff;
	width: 120px;
	padding-top: 3px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.2);
}

	#versions ul, #versions ul li {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		border: 0px;
		margin-left: 8px;
	}

/**
 * Styles for the code samples.
 */

.hljs {
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size: 0.9em;
}

p>code, li>code, blockquote>code {
	background-color: #fafafa;
	color: #000;
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 1px 2px 1px 2px;
	font-size: 0.9em;
}

#docs-body blockquote {
	border-left: 3px solid #ccc;
	color: #999;
	padding-left: 12px;
	margin-bottom: 12px;
}

	#docs-body blockquote p {
		display: inline;
	}

#docs-body table {
	width: 100%;
}

#docs-body th {
	padding: 3px;
	font-weight: bold;
}

#docs-body td {
	padding: 3px;
}

#targets {
	float: right;
	margin-top: -4px;
}

#breadcrumb {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 4px;
}

#docs-body {
	margin-top: 20px;
}

#docs-notice {
	background-color: #ffe;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #cca;
	color: #000;
	padding: 5px 5px 5px 8px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 13px;
}